'.editor:not(.mini)':
  'ctrl-i i': 'html-img:fill'
  'ctrl-i /': 'html-img:fill-half'
  'ctrl-alt-i': 'html-img:fill-width'
  'ctrl-alt-i /': 'html-img:fill-width-half'
  'ctrl-shift-i': 'html-img:fill-height'
  'ctrl-shift-i /': 'html-img:fill-height-half'
