'.editor:not(.mini)':
  'ctrl-i'            : 'html-img:fill'
  'ctrl-i enter'      : 'html-img:fill'
  'ctrl-i /'          : 'html-img:fill-half'
  'ctrl-alt-i'        : 'html-img:fill-width'
  'ctrl-alt-i enter'  : 'html-img:fill-width'
  'ctrl-alt-i /'      : 'html-img:fill-width-half'
  'ctrl-shift-i'      : 'html-img:fill-height'
  'ctrl-shift-i enter': 'html-img:fill-height'
  'ctrl-shift-i /'    : 'html-img:fill-height-half'
